.text {
  width: 500px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tooltip {
  position: relative;
  color: blue;
  cursor: pointer;
}
.tooltip:before,
.tooltip:after {
  display: block;
  position: absolute;
  left: 50%;
  visibility: hidden; 
  opacity: 0;
  margin-bottom: 15px;
  transition: opacity .7s, margin-bottom .7s;
  -webkit-transition: opacity .7s, margin-bottom .7s;
  -moz-transition: opacity .7s, margin-bottom .7s;
 
}
.tooltip:before {
  bottom: 30px;
  margin-left: -100px;
  padding: 10px;
  width: 200px;
  color: #fff;
  text-align: center;
  background-color: rgba(0,0,0,.85);
  border-radius: 5px;
  content: attr(data-title);
  box-sizing: border-box;
  -webkt-box-sizing: border-box;
  -moz-box-sizing: border-box;
 
}
.tooltip:after {
  content: "";
  border-top: 10px solid rgba(0,0,0,.85);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 20px;
  margin-left: -10px;
}
.tooltip:hover:before,
.tooltip:hover:after {
  visibility: visible;
  opacity: 1;
  margin-bottom: 0;
}